/* All custom Styles defined here */
/* :: 7.0 Top Catagory Area */
.single-top-catagory {
    position: relative;
    z-index: 2;
    margin-bottom: 80px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    overflow: hidden;
}

.single-top-catagory img {
    width: 100%;
}

.single-top-catagory::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    background: -webkit-linear-gradient(to right, #000, rgba(0, 0, 0, 0.1));
    background: linear-gradient(to right, #000, rgba(0, 0, 0, 0.1));
}

.single-top-catagory .top-cta-content {
    position: absolute;
    top: 50%;
    left: 40px;
    width: auto;
    height: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
}

.single-top-catagory .top-cta-content h3 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
    .single-top-catagory .top-cta-content h3 {
        font-size: 18px;
    }
}

.single-top-catagory .top-cta-content h6 {
    color: #ffffff;
    margin-bottom: 30px;
    display: block;
    font-weight: 400;
}

@media only screen and (max-width: 767px) {
    .single-top-catagory .top-cta-content h6 {
        margin-bottom: 10px;
    }
}


/* Button */
.delicious-btn {
    display: inline-block;
    min-width: 160px;
    height: 60px;
    color: #ffffff;
    border: none;
    border-left: 3px solid #1c8314;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 58px;
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
    background-color: #40ba37;
}

.delicious-btn.active,
.delicious-btn:hover,
.delicious-btn:focus {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1c8314;
    border-color: #40ba37;
}

.delicious-btn.btn-2 {
    background-color: #1c8314;
    border-color: #40ba37;
}

.delicious-btn.btn-2.active,
.delicious-btn.btn-2:hover,
.delicious-btn.btn-2:focus {
    background-color: #40ba37;
    border-color: #1c8314;
}

.delicious-btn.btn-3 {
    background-color: #474747;
    border-color: #1c8314;
}

.delicious-btn.btn-3.active,
.delicious-btn.btn-3:hover,
.delicious-btn.btn-3:focus {
    background-color: #40ba37;
    border-color: #1c8314;
}

.delicious-btn.btn-4 {
    background-color: transparent;
    border: 3px solid #40ba37;
    line-height: 53px;
    color: #40ba37;
}

@media only screen and (max-width: 767px) {
    .delicious-btn.btn-4 {
        height: 40px;
        line-height: 33px;
    }
}

.delicious-btn.btn-4.active,
.delicious-btn.btn-4:hover,
.delicious-btn.btn-4:focus {
    line-height: 53px;
    color: #ffffff;
    background-color: #40ba37;
}

@media only screen and (max-width: 767px) {

    .delicious-btn.btn-4.active,
    .delicious-btn.btn-4:hover,
    .delicious-btn.btn-4:focus {
        height: 40px;
        line-height: 33px;
    }
}

@media only screen and (max-width: 767px) {
    .delicious-btn {
        height: 40px;
        line-height: 39px;
    }
}